<!--<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2020. Made with ❤ by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
    </small>
</footer>-->

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <a href="/index.html">
                <img src="/static/img/miacademy-high-resolution-logo-transparent (1).png" alt="MiAcademy logo">
        </div>
        <div class="footer-columns">
            <div class="footer-column">
                <h3>Courses</h3>
                <ul>
                    <li><a href="/PMP-Training/">PMP® Exam Prep Course</a></li>
                    <li><a href="/CAPM-Training/">CAPM® Exam Prep Course</a></li>
                    <li><a href="/scrummaster-exam-prep-course/">ScrumMaster Exam Prep Course</a></li>
                    <li><a href="/predictive-projects-simulation-course/">Predictive Projects Simulation Course</a></li>
                    <li><a href="/microsoft-trainings-course/">Ms Project & Excel Training</a></li>
                    <li><a href="/digital-skills-for-project-managers/">Digital Skills for Project Managers</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Company</h3>
                <ul>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 MiAcademy. All Rights Reserved.</p>
    </div>
</footer>
